//COLORS
$color-violet: #5c1082;
$color-grey-light: #f4f4f4;
$color-grey-dark: #e9e8e8;
$color-grey-darker: #a8a8a8;
$color-red: #ff3366;
$color-white: #fff;
$color-black: #000;
$color-font: #161616;
$color-green: #6ef0a5;

//FONT SIZES
$defoult-font-size: 1.4rem;
