.form-aside {
  margin: 2rem;

  border-top: 1px solid $color-grey-dark;
  h5 {
    font-size: 1.3rem;
    padding: 1rem;

    text-align: center;
  }
  p {
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 20rem;
  }
}
