.modal {
  max-height: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  transition: max-height 0.4s;

  &__content {
    transition: 1s;
    max-height: 800px;
    overflow: scroll;
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;

    &-header {
      background-color: #f4f4f4;
      padding: 14px;
      display: grid;
      justify-items: center;
      align-items: center;
      h2 {
        text-align: center;
        width: 70%;
        font-size: 1.8rem;
      }
      &-close {
        font-family: inherit;
        font-size: 2rem;
        font-weight: bold;
        position: absolute;
        right: 2rem;
        top: 2.5rem;
        background-color: white;
        color: #5c1182;
        border: none;
        text-align: center;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        outline: none;
        cursor: pointer;
      }
      &-back {
        font-family: inherit;
        font-size: 2rem;
        font-weight: bold;
        position: absolute;
        left: 2rem;
        top: 2.5rem;
        background-color: white;
        color: #5c1182;
        border: none;
        text-align: center;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        outline: none;
        cursor: pointer;
      }
    }
    &-body {
      padding: 2.5rem 1.5rem 2.5rem 2.5rem;
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-column-gap: 2rem;
      &-image {
        display: grid;
        align-items: center;
        justify-items: center;
        img {
          display: block;
          max-width: 100%;
        }
      }
      &-sizes {
        h3 {
          text-align: center;
          padding: 15px 0;
        }
        &-wrap {
          display: grid;
          //grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr;
          grid-row-gap: 10px;
          grid-column-gap: 5%;
          .box-modal {
            padding: 15px;
            border: 1px solid #e9e8e8;
            border-radius: 4px;
            cursor: pointer;
            p {
              text-align: center;
              font-weight: bold;
              font-size: 20px;
              pointer-events: none;
            }
          }
        }
      }
    }
    &-additional {
      padding: 0 2.5rem 1.5rem 2.5rem;
    }
    &-part2 {
      padding: 1.5rem 2.5rem 2.5rem 2.5rem;
      &-container {
        display: grid;
        grid-row-gap: 2rem;
        &-box {
          cursor: pointer;
          display: block;
          padding: 14px 14px 10px;
          border-radius: 4px;
          background-color: #fff;
          border: 1px solid #e9e8e8;
          position: relative;

          p {
            display: block;
            text-align: center;
            pointer-events: none;
          }
          p:nth-child(2) {
            font-weight: 500;
            color: red;
            pointer-events: none;
          }
          p:nth-child(3) {
            display: block;
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.6rem;
            font-weight: 700;
            background-color: #fff;
            text-align: center;
            color: #161616;
            pointer-events: none;
          }
          p:nth-child(4) {
            pointer-events: none;
            display: block;
            position: absolute;
            top: -1rem;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.6rem;
            font-weight: 700;
            background-color: #fff;
            text-align: center;
            color: #5c1182;
          }
        }
      }
    }
    &-footer {
      padding: 2.5rem;
      padding-top: 0;
    }
  }
}

button.checkout a {
  text-decoration: none;
  color: inherit;
}

.selectedBox {
  border-color: #5c1182 !important;
  border-width: 2px !important;
}

.aditionalExp {
  padding: 3rem 0 1rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.savingOpen {
  text-align: center;
  padding-bottom: 1.5rem;
  cursor: pointer;
  color: #5c1182;
  text-decoration: underline;
}

.Savings p {
  text-align: center;
  padding-top: 10px;
}

.details {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}
.details td {
  border: 1px solid #ddd;
  padding: 10px 20px 10px 20px;
  border-bottom: 80%;
}
.details td:nth-child(even) {
  text-align: right;
  border-left: none;
}
.details td:nth-child(odd) {
  border-right: none;
}
.discount {
  color: $color-red;
  font-weight: 800;
}
.special {
  font-weight: 800;
}
.total {
  font-size: 28px;
}

@media only screen and (min-width: 1000px) {
  .modal {
    &__content {
      width: 380px;
      height: 100%;
      max-height: 100%;
      right: 0;
    }
  }
}
