.section-4 {
  position: relative;
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
  &__textwrapper * {
    margin: 1rem 0;
  }

  &__leadparagraph {
    display: inline-block;
    color: $color-violet;
    cursor: pointer;
    border-bottom: 1px solid $color-violet;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    @include desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
    }
  }
}
