.section-3 {
  position: relative;

  h2 {
    margin: 1rem 2rem;
    font-size: 2rem;
  }

  p {
    margin: 0 2rem;
    padding: 0.5rem;
  }

  &__flexwrapper {
    display: flex;
    flex-wrap: wrap;

    .flexitem {
      flex: 0 1 100%; // shorthand flex-grow:0 flex-shrink:1 flex-width:24%
      margin-top: 3rem;
      background-color: $color-white;
      position: relative;
      padding-bottom: 4rem;

      .price {
        float: right;
      }

      .price-exp {
        float: right;
      }

      .btn-cta {
        // float: right;
        // margin: -2rem 2rem 2rem 2rem;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }
    }

    img {
      width: 100%;
    }

    @include tablet {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-gap: 3rem;

      .flexitem {
        flex: 0 1 320px;
      }
    }

    // @include tablet {
    //   flex-wrap: wrap;
    //   justify-content: space-around;

    //   .flexitem {
    //     flex: 0 1 320px;
    //   }
    // }
  }
}
