.btn-cta {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 0;
  padding: 1rem 2rem;
  background: $color-violet;
  opacity: 1;
  font-size: inherit;
  color: $color-white;
  font-weight: 600;
  transition: 0.4s;
  cursor: pointer;
  outline: none;

  &-mini {
    width: 150px;
  }
}

.btn-gallery {
  height: 4rem;
  width: 4rem;
  border: 0;

  &-left {
    margin-right: 10%;
  }

  &-right {
    float: right;
  }
}

.btn-reviews {
  height: 4rem;
  width: 4rem;
  border: 0;

  &-right {
    float: right;
  }
}
