*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  background-color: $color-grey-dark;
  //defines one rem
  font-size: 62.5%;
  @include big-mobile {
    font-size: 70%;
  }
}

body {
  box-sizing: border-box;
  background: $color-white;

  @include desktop {
    max-width: 1400px;
    margin: auto;
  }
}

section {
  padding: 2rem;
}

section:nth-child(even) {
  background: $color-grey-light;
}

#form-body {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}
