//their font is GT-Walsheim-Bold.eot, but you gotta pay for it

body {
  font-size: $defoult-font-size;
  color: $color-font;
  font-family: "Helvetica", sans-serif;
}

.heading-big {
  font-size: 3.8rem;
  font-weight: 600;
}

.heading-medium {
  font-size: 1.6rem;
  font-weight: 600;
}

.heading-medium-light {
  font-size: 1.6rem;
  font-weight: 200;
}

.heading-large-bold {
  font-size: 2.4rem;
  font-weight: 900;
  color: $color-violet;
}

.heading-small {
  color: $color-violet;
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.heading-tiny {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.redlist {
  list-style: none;
  line-height: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  position: relative;
}

.section-4 li,
.section-5 li,
.section-2 li,
.form-li {
  position: relative;
  list-style: none;
  padding: 0.5rem 0 0.5rem 2.5rem;
}

.section-1 li::before,
.section-4 li::before,
.section-5 li::before,
.section-6 li::before,
.section-2 li::before,
.form-li::before {
  color: #97be0c;
  content: "\002714";
  font-size: 1.2rem;
  margin-left: -1.5rem;
}

a {
  font-size: inherit;
  text-decoration: none;
}

.price {
  font-size: 1.8rem;
  color: $color-red;
  font-weight: 900;
}

.price-save {
  font-size: 1.6rem;
  color: $color-red;
  font-weight: 200;
}

.price-exp {
  font-size: 1.1rem;
  color: $color-grey-darker;
  font-weight: 900;
}

.section-4__leadparagraph {
  font-size: 1.6rem;
  padding: 2rem;
}
